.riderStatisticBoxes {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-gap: 5px 5px;
  
  }
  
  .column {
    text-align: center;
  }
  
  .rectangle {
    width: 500px; 
    height: 100px; 
    background-color: beige; 
    margin: 0 auto; 
    margin-bottom: 10px; 
  }
  